#canvas
{
    border: 1px solid #dedede;
    width : 1000px;
    height: 700px;
    float : left;
}

.body
{
    fill: #ffffff;
    stroke: #000000;
}

#panel
{
    margin-left : 700px;
}

#makeStepBack[disabled="disabled"], #makeStepBack[disabled]
{
    background-color: #ccc;
}

.body_border
{
    stroke: hsla(140, 60%, 30%, 0.7);
    fill: hsla(140, 60%, 50%, 0.1);
}

#debug .vector {
    stroke:  #ff0000;
    marker-end: url(#arrow);
}